<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{{page_title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="{{static_url("components/font-awesome/css/font-awesome.css")}}"></link>
    <script src="{{static_url("components/es6-promise/promise.min.js")}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          {% if version_hash %}
          urlArgs: "v={{version_hash}}",
          {% endif %}
          baseUrl: '{{static_url("", include_version=False)}}',
          paths: {
          {% if ignore_minified_js %}
            'auth/js/main': 'auth/js/main',
          {% else %}
            'auth/js/main': 'auth/js/main.min',
          {% endif %}
            custom : '{{ base_url }}custom',
            nbextensions : '{{ base_url }}nbextensions',
            kernelspecs : '{{ base_url }}kernelspecs',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jquery: 'components/jquery/jquery.min',
            bootstrap: 'components/bootstrap/js/bootstrap.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            'jquery-ui': 'components/jquery-ui/ui/minified/jquery-ui.min',
            moment: 'components/moment/moment',
            codemirror: 'components/codemirror',
            termjs: 'components/term.js/src/term',
            typeahead: 'components/jquery-typeahead/dist/jquery.typeahead'
          },
          map: { // for backward compatibility
            "*": {
              "jqueryui": "jquery-ui",
            }
          },
          shim: {
            typeahead: {
              deps: ["jquery"],
              exports: "typeahead"
            },
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
            bootstraptour: {
              deps: ["bootstrap"],
              exports: "Tour"
            },
            "jquery-ui": {
              deps: ["jquery"],
              exports: "$"
            }
          },
          waitSeconds: 30,
      });

      require.config({
          map: {
              '*':{
                'contents': '{{ contents_js_source }}',
              }
          }
      });
    </script>

    {% block meta %}
    {% endblock %}

    {% if mathjax_url %}
    <script type="text/javascript" src="{{mathjax_url}}?config=TeX-AMS_HTML-full,Safe&amp;delayStartupUntil=configured" charset="utf-8"></script>
    {% endif %}

</head>

<body class="{% block bodyclasses %}{% endblock %}" {% block params %}{% endblock %}>

{% block script %}
<script id='jupyter-config-data' type="application/json">{
  "baseUrl": "{{base_url | urlencode}}",
  "wsUrl": "{{ws_url| urlencode}}",
  "notebookPath": "{{notebook_path | urlencode}}"
}</script>
<script src="lab/bundle.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

</body>

</html>
