.terminal-app {
  background: @page-backdrop-color;

  #header {
    background: @body-bg;
    .box-shadow(@global-shadow);
  }

  .terminal {
    width: 100%;
    float: left;
    font-family: monospace;
    color: white;
    background: black;
    padding: @code_padding;
    border-radius: @border-radius-base;
    .box-shadow(@global-shadow-dark);
    line-height: 1em;
    font-size: @notebook_font_size;

    .xterm-rows {
      padding: 10px;
    }
  }

  .terminal-cursor {
    color: black;
    background: white;
  }

  .terminado-container-container {
    padding-top: @page-header-padding;
    height: 100%;
  }

  #terminado-container {
    height: 100%;
  }
}
