MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/main.min.js*
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
src

*.swp
*.map

.eggs/

# Bundled/generated JavaScript
notebook/static/auth/js/main.bundle.js
notebook/static/edit/js/main.bundle.js
notebook/static/notebook/js/main.bundle.js
notebook/static/services/contents.bundle.js
notebook/static/terminal/js/main.bundle.js
notebook/static/tree/js/main.bundle.js

# npm logs
npm-debug.log
