MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
jupyter_notebook/static/components
jupyter_notebook/static/style/*.map
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
