include LICENSE
include CONTRIBUTING.rst
include README.md
include package.json
include bower.json
include .bowerrc
include setupbase.py
include Dockerfile
graft tools

# Translations
graft notebook/i18n

# Documentation
graft docs
exclude docs/\#*

# Examples
graft examples

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
