include LICENSE
include README.md
include pyproject.toml
include jupyter-config/jupyterlab-classic.json

include package.json
include install.json
include ts*.json

graft jupyterlab_classic/labextension
graft jupyterlab_classic/static
graft jupyterlab_classic/templates

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
