// Eighties theme, dark

// Muted, gray-ish colors
@color-muted-1:   #2d2d2d;
@color-muted-2:   #393939;
@color-muted-3:   #515151;
@color-muted-4:   #747369;
@color-muted-5:   #a09f93;
@color-muted-6:   #d3d0c8;
@color-muted-7:   #f2f0ec;
@color-muted-8:   #e8e6df;

// Bright colors
@color-primary:   #6699cc;
@color-error:     #f2777a;
@color-success:   #99cc99;
@color-accent-1:  #f99157;
@color-accent-2:  #ffcc66;
@color-accent-3:  #66cccc;
@color-accent-4:  #cc99cc;
@color-accent-5:  #d27b53;

// Bootstrap overrides
@font-family-monospace:   monospace;  // to allow user to customize their fonts
@font-size-base:          13px;
