@import "default.less";

@body-bg:                 @color-muted-1;
@brand-primary:           @color-primary;
@brand-success:           @color-success;
@text-color:              @color-muted-7;
@table-border-color:      @color-muted-3;
@table-border-highlight:  @color-muted-7;
@page-backdrop-color:     @color-muted-2;
@navbar-default-bg:       @color-muted-2;

@gray-base:               @color-muted-1;
@gray-darker:             @color-muted-2;
@gray-dark:               @color-muted-3;
@gray:                    @color-muted-4;
@gray-light:              @color-muted-5;
@gray-lighter:            @color-muted-6;

// IPython colors
@border_color:            @color-muted-4;

// Highlight colors
@highlight-base:          @color-muted-6;
@highlight-keyword:       @color-accent-4;
@highlight-error:         @color-error;
@highlight-string:        @color-success;

// ANSI
@ansired:                 @color-error;
@ansigreen:               @color-success;
@ansicyan:                @color-accent-3;
@ansiblue:                @color-primary;
