/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#header-container {
  display: none;
}

#menubar-container {
  width: auto;
}

#notebook .container {
  width: auto;
  margin: 0 20px 20px 23px;
}

#menubar .navbar,
#maintoolbar {
  margin-right: 20px;
  margin-left: 20px;
}

#header {
  position: fixed;
  background-color: #fafafa !important;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.notebook_app {
  background-color: white;
}
