/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#header-container {
  display: none;
}

#menubar-container {
  width: auto;
}

#notebook .container {
  width: auto;
  margin: 0 20px 20px;
  padding: 0;
  box-shadow: none;
}

#menubar .navbar,
#maintoolbar {
  margin-right: 20px;
  margin-left: 20px;
}

#header {
  position: fixed;
  background-color: #fafafa !important;
  border-bottom: 1px solid #dddddd;
  margin-bottom: -1px;
  box-shadow: none !important;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.notebook_app {
  background-color: white;
}

div.input_area {
  background: #fafafa;
  border-color: #dddddd;
}

div.cell.selected {
  background: white;
  dborder-color: #dddddd;
  border-style: dashed;
  padding-left: 5px;
  border-left-width: 1px;
}

.edit_mode div.cell.selected {
  border-style: solid;
}

div.cell.selected div.input_area {
  background: white;
}

body > #header .header-bar {
  height: 0;
}

.end_space {
  display: none;
}

#kernel_indicator {
  zposition: absolute;
  zright: 0;
  lzine-height: 50px;
}

#menus > .container-fluid > *:not(.navbar-collapse) {
  position: relative;
  top: 19px;
}
