# https://github.com/marketplace/actions/auto-author-assign
name: 'Auto Author Assign'

on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  contents: read

jobs:
  assign-author:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.0
