name: Update Playwright Snapshots

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: read

jobs:
  update-snapshots:
    runs-on: ubuntu-latest

    permissions:
      # Required by actions/update-snapshots
      contents: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, chromium]

    # Only run on issue comments
    if: github.event.issue.pull_request && contains(github.event.comment.body, 'please update snapshots')

    steps:
      - uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots-checkout@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Build
        uses: ./.github/actions/build-dist

      - uses: actions/download-artifact@v7
        with:
          name: notebook-dist-${{ github.run_number }}
          path: ./dist

      - name: Install the package
        run: |
          cd dist
          python -m pip install -vv notebook*.whl

          # disable git hooks
          git config core.hooksPath no-hooks

      - name: Install the test dependencies
        run: |
          cd ui-tests
          jlpm
          jlpm playwright install

      - name: Update snapshots
        uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          npm_client: jlpm
          test_folder: ui-tests
          start_server_script: 'null'
          update_script: test:update --browser ${{ matrix.browser }}
        env:
          DEBUG: pw:webserver
